<div class="row" data-content="profile-password-edit">
	<div class="columns small-12">
		<i class="fa fa-remove" data-action="close-profile-password-edit"></i>
	</div>
	<div class="columns small-4 end">
		<h3>Wijzig uw wachtwoord</h3>
		<f:form action="updatePassword" controller="Profile" package="BuJitsuDo.Authentication" additionalAttributes="{data-action: 'updatePassword'}">
			<label for="password[0]">Wachtwoord</label>
			<f:form.password name="password[0]" placeholder="Wachtwoord" />
			<label for="password[1]">Wachtwoord herhalen</label>
			<f:form.password name="password[1]" placeholder="Wachtwoord herhalen" />
			<small>Wachtwoord moet minimaal 6 karakters bevatten.</small>
			<div>
				<button class="small">Update</button>
			</div>
		</f:form>
	</div>
</div>